Package: io.c0ldra1n.defluxit
Name: Defluxit
Depends: mobilesubstrate, ws.hbang.common, preferenceloader
Version: 0.0.7
Architecture: iphoneos-arm
Description: Let your notifications fade away
Maintainer: c0ldra1n
Author: c0ldra1n
Section: Tweaks
