<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Deflux</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>io.c0ldra1n.defluxit-prefs</string>
			<key>key</key>
			<string>DFXEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fade Percentage (Top/Bottom)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>io.c0ldra1n.defluxit-prefs</string>
			<key>key</key>
			<string>DFXTopFadePercentage</string>
			<key>max</key>
			<real>0.5</real>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>io.c0ldra1n.defluxit-prefs</string>
			<key>key</key>
			<string>DFXBottomFadePercentage</string>
			<key>max</key>
			<real>0.5</real>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Send a Test Notification</string>
			<key>action</key>
			<string>sendTestNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring and Apply</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Thank you Eric for testing Defluxit on iOS 10 and HASHBANG Productions for creating Cephei!</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<string>56</string>
			<key>label</key>
			<string>c0ldra1n</string>
			<key>user</key>
			<string>0xc0ldra1n</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<string>56</string>
			<key>label</key>
			<string>Eric</string>
			<key>user</key>
			<string>0xEricDev</string>
		</dict>
	</array>
	<key>title</key>
	<string>Defluxit</string>
</dict>
</plist>
